<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="ru.itmonopoly.trysping"/>
    <!-- services -->

    <!--<bean name="myConnection" class="ru.itmonopoly.myspring.MyConnection"></bean>-->
    <!--<bean name="MyLogic" class="ru.itmonopoly.myspring.MyLogic">-->
        <!--<property name="myConnection" ref="myConnection"/>-->
    <!--</bean>-->
    <bean class="ru.itmonopoly.myspring.MyConnection"></bean>
    <bean class="ru.itmonopoly.myspring.MyLogic"> </bean>

    <!-- more bean definitions for services go here -->

</beans>